<nav class="navbar">
  <div class="logo">
    <a style="text-decoration: none; color: var(--text-light)" routerLink="/welcome"
      >Smart Recipe</a
    >
  </div>

  <div class="menu-items">
    <div class="language-switcher">
      <button (click)="switchLanguage('fr')">Français</button>
      <button (click)="switchLanguage('en')">English</button>
      <p>{{ 'common.loading' | translate }}</p>
    </div>
    @if (!authService.user()) {
      <a routerLink="/welcome" class="nav-link">{{ 'header.login' | translate }}</a>
      <a routerLink="/welcome/register" class="nav-link btn-register">{{
        'header.register' | translate
      }}</a>
    } @else {
      <button routerLink="/favorites" class="btn-nav">
        {{ 'header.saved-recipes' | translate }}
      </button>
      <span class="user-email">{{ authService.user()?.email }}</span>

      <button (click)="authService.logout()" class="btn-logout" title="Déconnexion">
        <span class="icon-logout">🚪</span>
      </button>
    }
  </div>
</nav>
