<nav class="navbar">
  <div class="logo">
    <a style="text-decoration: none; color: var(--text-light)" routerLink="/welcome"
      >Smart Recipe</a
    >
  </div>

  <div class="menu-items">
    @if (!authService.user()) {
      <a routerLink="/welcome" class="nav-link">Login</a>
      <a routerLink="/welcome/register" class="nav-link btn-register">Create Account</a>
    } @else {
      <button routerLink="/favorites" class="btn-nav">Saved Recipes</button>
      <span class="user-email">{{ authService.user()?.email }}</span>

      <button (click)="authService.logout()" class="btn-logout" title="Déconnexion">
        <span class="icon-logout">🚪</span>
      </button>
    }
  </div>
</nav>
