<nav class="navbar">
  <div class="logo">
    <a style="text-decoration: none; color: var(--text-light)" routerLink="/welcome">
      <img src="/favicon.ico" alt="Smart Recipe" style="width: 32px; height: 32px" />
    </a>
  </div>

  <div class="menu-items">
    @if (!authService.user()) {
      <a routerLink="/welcome" class="nav-link">{{ 'header.login' | translate }}</a>
      <a routerLink="/welcome/register" class="nav-link btn-register">{{
        'header.register' | translate
      }}</a>
    } @else {
      <button routerLink="/equipment" class="btn-nav" style="font-size: 1.2rem">🍳</button>
      <button routerLink="/favorites" class="btn-nav" style="font-size: 1.2rem">❤️</button>
      <span class="user-email">{{ (authService.user()?.email ?? '').split('@')?.[0] }}</span>

      <button (click)="authService.logout()" class="btn-logout" title="Déconnexion">
        <span class="icon-logout">🚪</span>
      </button>
    }
    <div class="language-switcher">
      <button (click)="switchLanguage('fr')" [class.active]="translateService.currentLang === 'fr'">
        FR
      </button>
      <button (click)="switchLanguage('en')" [class.active]="translateService.currentLang === 'en'">
        EN
      </button>
    </div>
  </div>
</nav>
