# --- Backend / Python ---
**/__pycache__/
*.py[cod]
venv/
.venv/
env/
.env
.ruff_cache/

# --- IDEs ---
.idea/

# --- Divers ---
.DS_Store
*.log

*.json
!frontend/public/assets/i18n/*.json

frontend/src/environments/environment.prod.ts
frontend/src/environments/environment.local.ts