# --- Backend / Python ---
**/__pycache__/
*.py[cod]
venv/
.venv/
env/
.env

# --- IDEs ---
.idea/

# --- Divers ---
.DS_Store
*.log

*.json

frontend/src/environments/environment.prod.ts
frontend/src/environments/environment.local.ts