:root {
    --primary-emerald: #047857;
    --bg-light: #f9fafb;
    --text-dark: #111827;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-light);
    color: var(--text-dark)
}