<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="auth-card">
  <h2>Register</h2>
  <div class="input-group">
    <input type="string" formControlName="email" placeholder="Email" />
    @if (profileForm.get('email')?.touched && profileForm.get('email')?.errors?.['email']) {
      <p style="color: red; font-size: 0.8rem">Invalid email</p>
    }
    <input type="password" formControlName="password" placeholder="Password" />
    @if (
      profileForm.get('password')?.touched && profileForm.get('password')?.errors?.['minlength']
    ) {
      <p style="color: red; font-size: 0.8rem">Le mot de passe doit faire au moins 8 caractères.</p>
    }
  </div>
  <button type="submit" class="auth-btn">Register</button>
  <p class="no-account">
    Already have an account ? <a class="createaccount-btn" href="/welcome/login">Login</a>
  </p>
</form>
